version: '3.8'

services:
  web:
    # image: "${WEB_IMAGE}"
    image: ghcr.io/thelonggoodbuy/swipe_api/web:latest
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/home/app/web/staticfiles
      - media_volume:/home/app/web/mediafiles
    # expose:
    #   - 8000
    ports:
      - 8000:8000
    env_file:
      - ./.env.prod
    depends_on:
      - db

  db:
    image: postgres:15
    volumes: 
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.prod.db

  redis:
    image: redis:alpine
    depends_on:
      - web

  celery:
    build:
      context: .
      dockerfile: Dockerfile.prod
    image: ghcr.io/thelonggoodbuy/swipe_api/web:latest
    command: celery -A config worker -l info
    volumes:
    - ./:/usr/src/app/
    env_file:
      - ./.env.prod
    depends_on:
      - redis


  celery-beat:
    build:
      context: .
      dockerfile: Dockerfile.prod
    image: ghcr.io/thelonggoodbuy/swipe_api/web:latest
    command: celery -A config beat -l info
    volumes:
    - ./:/usr/src/app/
    env_file:
      - ./.env.prod
    depends_on:
      - celery


  nginx:
    # image: "${NGINX_IMAGE}"
    image: ghcr.io/thelonggoodbuy/swipe_api/nginx:latest
    volumes:
      - static_volume:/home/app/web/staticfiles
      - media_volume:/home/app/web/mediafiles
    # ports:
    #   - 1337:80
    ports:
      - 80:80
    depends_on:
      - web

volumes:
  postgres_data:
  static_volume:
  media_volume: