name: Deploy by runner

on:
    push:
        branches: ["main"]

jobs:
    deploy:
        name: Deploy to DigitalOcean
        runs-on: [self-hosted]
        # needs: prepare-environment
        steps:

            - name: Checkokut master
              uses: actions/checkout@v1
              
            - name: Pull updates from repository
              run: |
                cd /app
                git pull origin main

            - name: App up
              run: docker-compose -f docker-compose.prod.yml up -d