name: Deploy by runner

on:
    push:
        branches: ["main"]

jobs:
    deploy:
        name: Deploy to DigitalOcean
        runs-on: [self-hosted]
        # needs: prepare-environment
        steps:

            - name: Checkokut master
              uses: actions/checkout@v1
              
            - name: Pull updates from repository
              run: |
                echo '-------------------'
                whoami 
                pwd
                echo '-------------------'
                cd /app
                git pull origin main

            - name: Add environment variables to .env.prod and .env.prod.db
              run: |
                # echo '-------------------'
                # whoami 
                # pwd
                # echo '-------------------'
                # cd /app

                # chown -R maxim /.env.prod

                ENV_PROD_FILE=/app/.env.prod

                if test-f "ENV_PROD_FILE";
                then
                  echo "option 1"
                  # chattr -i 
                  chattr -i chattr -i /app/.pre-commit-config.yaml
                  chattr -i chattr -i /app/.gitignore

                  chown -R maxim /app/*
                  chown -R maxim /app/.env.prod
                else
                  echo "option 2"
                  chattr -i chattr -i /app/.pre-commit-config.yaml
                  chattr -i chattr -i /app/.gitignore
                  chown -R maxim /app/*
                  touch /app/.env.prod
                  chown -R maxim /app/.env.prod
                fi

                echo DJANGO_ALLOWED_HOSTS=${{ secrets.DJANGO_ALLOWED_HOSTS }} >> /app/.env.prod
                echo POSTGRES_USER=${{ secrets.POSTGRES_USER }} >> /app/.env.prod
                echo POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }} >> /app/.env.prod
                echo POSTGRES_DB=${{ secrets.POSTGRES_DB }} >> /app/.env.prod
                echo POSTGRES_HOST=${{ secrets.POSTGRES_HOST }} >> /app/.env.prod
                echo POSTGRES_PORT=${{ secrets.POSTGRES_PORT }} >> /app/.env.prod
                echo DATABASE=${{ secrets.DATABASE }} >> /app/.env.prod
                echo SECRET_KEY=${{ secrets.SECRET_KEY }} >> /app/.env.prod
                echo DEFAULT_FROM_EMAIL=${{ secrets.DEFAULT_FROM_EMAIL }} >> /app/.env.prod
                echo EMAIL_HOST=${{ secrets.EMAIL_HOST }} >> /app/.env.prod
                echo EMAIL_PORT=${{ secrets.EMAIL_PORT }} >> /app/.env.prod
                echo EMAIL_HOST_USER=${{ secrets.EMAIL_HOST_USER }} >> /app/.env.prod
                echo EMAIL_HOST_PASSWORD=${{ secrets.EMAIL_HOST_PASSWORD }} >> /app/.env.prod
                echo POSTGRES_TEST_DB=${{ secrets.POSTGRES_TEST_DB }} >> /app/.env.prod
                echo POSTGRES_TEST_USER=${{ secrets.POSTGRES_TEST_USER }} >> /app/.env.prod
                echo POSTGRES_TEST_PASSWORD=${{ secrets.POSTGRES_TEST_PASSWORD }} >> /app/.env.prod
                echo DOCKER_DEFAULT_PLATFORM=${{ secrets.DOCKER_DEFAULT_PLATFORM }} >> /app/.env.prod

                echo NAMESPACE=${{ secrets.NAMESPACE }} >> /app/.env.prod
                echo PERSONAL_ACCESS_TOKEN=${{ secrets.PERSONAL_ACCESS_TOKEN }} >> /app/.env.prod

                echo POSTGRES_USER=${{ secrets.POSTGRES_USER }} >> /app/.env.prod.db
                echo POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }} >> /app/.env.prod.db
                echo POSTGRES_DB=${{ secrets.POSTGRES_DB }} >> /app/.env.prod.db

                # echo '======================================='
                # chown -R maxim .env.prod
                # chown -R maxim .env.prod.db
                # echo '======================================='



            - name: App up
              run: docker-compose -f docker-compose.prod.yml up -d